.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.002930;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.843750;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(191,191,191),0 0.015em rgb(191,191,191),0.015em 0 rgb(191,191,191),0 -0.015em  rgb(191,191,191);}
.sc1{text-shadow:-0.015em 0 rgb(0,120,193),0 0.015em rgb(0,120,193),0.015em 0 rgb(0,120,193),0 -0.015em  rgb(0,120,193);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(191,191,191);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(0,120,193);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-2.166294px;}
._4{width:1.335964px;}
._8{width:3.140852px;}
._6{width:5.692850px;}
._9{width:7.201581px;}
._3{width:15.256182px;}
._7{width:19.397842px;}
._b{width:21.826700px;}
._5{width:23.385716px;}
._1{width:24.733683px;}
._a{width:26.671614px;}
._0{width:51.702518px;}
._c{width:69.700000px;}
._d{width:95.957812px;}
._e{width:118.637500px;}
._10{width:157.853812px;}
._11{width:180.533500px;}
._f{width:261.694488px;}
.fc6{color:rgb(191,191,191);}
.fc5{color:rgb(0,120,193);}
.fc0{color:rgb(0,0,0);}
.fc2{color:rgb(255,255,255);}
.fc4{color:rgb(0,0,255);}
.fc1{color:rgb(89,89,89);}
.fc3{color:rgb(119,147,60);}
.fs8{font-size:4.000000px;}
.fs6{font-size:44.000000px;}
.fs2{font-size:56.000000px;}
.fs5{font-size:58.000000px;}
.fs3{font-size:58.757342px;}
.fs1{font-size:64.000000px;}
.fs7{font-size:66.000000px;}
.fs0{font-size:72.000000px;}
.fs4{font-size:80.000000px;}
.y0{bottom:0.000000px;}
.y49{bottom:3.624501px;}
.y48{bottom:10.174423px;}
.y47{bottom:13.100473px;}
.y46{bottom:31.444569px;}
.y45{bottom:37.994370px;}
.y44{bottom:40.920420px;}
.y43{bottom:59.264516px;}
.y42{bottom:65.814438px;}
.y41{bottom:68.740488px;}
.y40{bottom:87.084462px;}
.y3f{bottom:93.634384px;}
.y3e{bottom:96.560434px;}
.y3d{bottom:114.904469px;}
.y3c{bottom:121.454330px;}
.y3b{bottom:124.380381px;}
.y30{bottom:156.244047px;}
.y3a{bottom:189.332596px;}
.y39{bottom:208.532593px;}
.y38{bottom:227.732590px;}
.y37{bottom:246.932590px;}
.y36{bottom:266.132591px;}
.y35{bottom:285.332593px;}
.y9{bottom:318.209990px;}
.y2e{bottom:369.820847px;}
.y2d{bottom:386.620850px;}
.y2c{bottom:403.420853px;}
.y2b{bottom:420.748852px;}
.y2a{bottom:439.420853px;}
.y29{bottom:456.748853px;}
.y2f{bottom:481.941358px;}
.y28{bottom:517.005569px;}
.y27{bottom:533.805573px;}
.y26{bottom:550.605568px;}
.y25{bottom:567.405563px;}
.y24{bottom:584.205559px;}
.y23{bottom:601.005562px;}
.y22{bottom:617.805565px;}
.y21{bottom:634.605565px;}
.y34{bottom:656.459217px;}
.y20{bottom:661.972302px;}
.y33{bottom:676.187218px;}
.y16{bottom:703.018921px;}
.y32{bottom:708.983570px;}
.y15{bottom:719.818924px;}
.y31{bottom:728.711571px;}
.y14{bottom:736.618927px;}
.y13{bottom:753.418922px;}
.y6{bottom:761.507893px;}
.y12{bottom:770.218918px;}
.y5{bottom:781.235893px;}
.y11{bottom:787.018913px;}
.y10{bottom:803.818916px;}
.y4{bottom:817.025005px;}
.yf{bottom:820.618919px;}
.y3{bottom:834.881004px;}
.ye{bottom:837.418920px;}
.yd{bottom:863.256711px;}
.y2{bottom:870.637806px;}
.y1{bottom:890.365807px;}
.y7{bottom:894.672756px;}
.y8{bottom:895.449606px;}
.y1f{bottom:929.447990px;}
.y1e{bottom:946.247993px;}
.y1d{bottom:963.047997px;}
.y1c{bottom:979.847992px;}
.y1b{bottom:996.647995px;}
.y1a{bottom:1013.447998px;}
.y19{bottom:1047.048004px;}
.y18{bottom:1063.848003px;}
.y17{bottom:1080.648005px;}
.yc{bottom:1104.435709px;}
.ya{bottom:1108.721843px;}
.yb{bottom:1109.498693px;}
.he{height:3.298828px;}
.ha{height:37.324219px;}
.h9{height:38.882812px;}
.h4{height:40.195312px;}
.h8{height:41.517578px;}
.h3{height:45.937500px;}
.hb{height:46.183594px;}
.hc{height:47.244141px;}
.h5{height:48.457593px;}
.h7{height:52.781250px;}
.h2{height:59.378906px;}
.hd{height:62.656250px;}
.h6{height:65.976562px;}
.h0{height:1133.875000px;}
.h1{height:1134.000000px;}
.w0{width:540.000000px;}
.x0{left:0.000000px;}
.xe{left:15.578659px;}
.x1{left:16.740238px;}
.x8{left:28.815620px;}
.x7{left:215.212184px;}
.x6{left:222.774902px;}
.x2{left:223.805262px;}
.xf{left:231.208588px;}
.x9{left:238.095428px;}
.x3{left:240.117760px;}
.xd{left:242.289276px;}
.xb{left:246.235733px;}
.xa{left:248.321793px;}
.x10{left:253.708588px;}
.xc{left:264.236362px;}
.x4{left:266.354862px;}
.x5{left:279.204472px;}
.x11{left:337.755187px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-2.888392pt;}
._4{width:1.781286pt;}
._8{width:4.187802pt;}
._6{width:7.590467pt;}
._9{width:9.602109pt;}
._3{width:20.341575pt;}
._7{width:25.863790pt;}
._b{width:29.102266pt;}
._5{width:31.180955pt;}
._1{width:32.978244pt;}
._a{width:35.562152pt;}
._0{width:68.936690pt;}
._c{width:92.933333pt;}
._d{width:127.943750pt;}
._e{width:158.183333pt;}
._10{width:210.471750pt;}
._11{width:240.711333pt;}
._f{width:348.925984pt;}
.fs8{font-size:5.333333pt;}
.fs6{font-size:58.666667pt;}
.fs2{font-size:74.666667pt;}
.fs5{font-size:77.333333pt;}
.fs3{font-size:78.343122pt;}
.fs1{font-size:85.333333pt;}
.fs7{font-size:88.000000pt;}
.fs0{font-size:96.000000pt;}
.fs4{font-size:106.666667pt;}
.y0{bottom:0.000000pt;}
.y49{bottom:4.832668pt;}
.y48{bottom:13.565898pt;}
.y47{bottom:17.467298pt;}
.y46{bottom:41.926093pt;}
.y45{bottom:50.659159pt;}
.y44{bottom:54.560560pt;}
.y43{bottom:79.019354pt;}
.y42{bottom:87.752584pt;}
.y41{bottom:91.653984pt;}
.y40{bottom:116.112616pt;}
.y3f{bottom:124.845846pt;}
.y3e{bottom:128.747246pt;}
.y3d{bottom:153.205959pt;}
.y3c{bottom:161.939107pt;}
.y3b{bottom:165.840508pt;}
.y30{bottom:208.325396pt;}
.y3a{bottom:252.443461pt;}
.y39{bottom:278.043457pt;}
.y38{bottom:303.643453pt;}
.y37{bottom:329.243454pt;}
.y36{bottom:354.843455pt;}
.y35{bottom:380.443457pt;}
.y9{bottom:424.279986pt;}
.y2e{bottom:493.094462pt;}
.y2d{bottom:515.494466pt;}
.y2c{bottom:537.894470pt;}
.y2b{bottom:560.998469pt;}
.y2a{bottom:585.894470pt;}
.y29{bottom:608.998470pt;}
.y2f{bottom:642.588477pt;}
.y28{bottom:689.340759pt;}
.y27{bottom:711.740763pt;}
.y26{bottom:734.140757pt;}
.y25{bottom:756.540751pt;}
.y24{bottom:778.940745pt;}
.y23{bottom:801.340749pt;}
.y22{bottom:823.740753pt;}
.y21{bottom:846.140753pt;}
.y34{bottom:875.278956pt;}
.y20{bottom:882.629737pt;}
.y33{bottom:901.582957pt;}
.y16{bottom:937.358561pt;}
.y32{bottom:945.311427pt;}
.y15{bottom:959.758565pt;}
.y31{bottom:971.615428pt;}
.y14{bottom:982.158569pt;}
.y13{bottom:1004.558563pt;}
.y6{bottom:1015.343857pt;}
.y12{bottom:1026.958557pt;}
.y5{bottom:1041.647858pt;}
.y11{bottom:1049.358551pt;}
.y10{bottom:1071.758555pt;}
.y4{bottom:1089.366674pt;}
.yf{bottom:1094.158559pt;}
.y3{bottom:1113.174672pt;}
.ye{bottom:1116.558559pt;}
.yd{bottom:1151.008948pt;}
.y2{bottom:1160.850408pt;}
.y1{bottom:1187.154409pt;}
.y7{bottom:1192.897008pt;}
.y8{bottom:1193.932808pt;}
.y1f{bottom:1239.263987pt;}
.y1e{bottom:1261.663991pt;}
.y1d{bottom:1284.063995pt;}
.y1c{bottom:1306.463989pt;}
.y1b{bottom:1328.863993pt;}
.y1a{bottom:1351.263997pt;}
.y19{bottom:1396.064006pt;}
.y18{bottom:1418.464005pt;}
.y17{bottom:1440.864007pt;}
.yc{bottom:1472.580945pt;}
.ya{bottom:1478.295790pt;}
.yb{bottom:1479.331590pt;}
.he{height:4.398438pt;}
.ha{height:49.765625pt;}
.h9{height:51.843750pt;}
.h4{height:53.593750pt;}
.h8{height:55.356771pt;}
.h3{height:61.250000pt;}
.hb{height:61.578125pt;}
.hc{height:62.992188pt;}
.h5{height:64.610124pt;}
.h7{height:70.375000pt;}
.h2{height:79.171875pt;}
.hd{height:83.541667pt;}
.h6{height:87.968750pt;}
.h0{height:1511.833333pt;}
.h1{height:1512.000000pt;}
.w0{width:720.000000pt;}
.x0{left:0.000000pt;}
.xe{left:20.771545pt;}
.x1{left:22.320318pt;}
.x8{left:38.420827pt;}
.x7{left:286.949578pt;}
.x6{left:297.033203pt;}
.x2{left:298.407017pt;}
.xf{left:308.278117pt;}
.x9{left:317.460571pt;}
.x3{left:320.157013pt;}
.xd{left:323.052368pt;}
.xb{left:328.314311pt;}
.xa{left:331.095723pt;}
.x10{left:338.278117pt;}
.xc{left:352.315150pt;}
.x4{left:355.139816pt;}
.x5{left:372.272629pt;}
.x11{left:450.340249pt;}
}
